.img-responsive{

}
.a-tanggal{
  color: #a5a3a0;
}
.atas{
  background-color: #edcfa8;
}
.kuliah{
  text-decoration: none;
  color: #111111;
}
a:focus{
  text-decoration: none;
}
a:visited{
  text-decoration: none;;
}
a:hover{
  text-decoration: none;;
}
.news-item{
  min-height:112px;
  background-color:#efefef;
  padding: 10px;
}
.muted{
  color: #efefef;
}
.ratings{
  margin-top: 20px;
}
.hariini{
  color:#56c6ef;
}
