body{
 background-color: #dbdbdb;
}
.atas{
  background-color: #edcfa8;
}
.a-oleh{
  color: #a5a3a0;
  position: absolute;
  bottom: -198;

}
p.berita{
  font-family: "Times New Roman", Times, serif;
  font-size: 14.5px;
}

hr.style-one {

      border: 0;
      height: 1px;
      background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}
.sidebar-icon{
  width: 15px;
  height: 15px;
}
.navbar-brand{
  font-size: 15px;
}
.judul-artikel{
  height: 55px;
  font-size: 13px;
}
.kuliah{
  text-decoration: none;
  color: #111111;
}
a:focus{
  text-decoration: none;
}
a:visited{
  text-decoration: none;;
}
.t{
  list-style: none;
}
a:hover{
  text-decoration: none;;
}
.news-item{
  position: relative;
  min-height:112px;
  background-color:#efefef;
  padding: 10px;
}
.muted{
  color: #efefef;
}
.ratings{
  margin-top: 20px;
}
.hariini{
  color:#56c6ef;
}
.thumbnail{
  min-height: 305px;
}
.a-tanggal{
  color: #a5a3a0;
}
.spantanggal{
  margin-top: 13px;
}
.btn{
  border-color: #dee6ed;
}
a.readmore{
  font-size: 13px;
  padding-left: 5px;
  padding-top: 2px;
  padding-right: 14px;
  padding-bottom: 2px;
  background :linear-gradient(to right, #42f4b6 , #2ee8e1);
  border-radius: 2px;
  -webkit-box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.75);
}
.menuutama{
  border-bottom-style: solid;
  border-bottom-width: 2px;
  margin-bottom: -1px;
  border-bottom-color: #a38c25;
}
.item-statistik{

  font-family: Times, serif;
  font-size: 13px;
}
.navbarduacostum{
  border-color:#f7f7f7;
  border-radius:0px;
}
