body{
  background-color: #dbdbdb;
}
.a-tanggal{
  color: #a5a3a0;
}
.atas{
  background-color: #edcfa8;
}
.a-oleh{
  color: #a5a3a0;
  position: absolute;
  bottom: -198;

}
hr.style-one {

      border: 0;
      height: 1px;
      background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}
.sidebar-icon{
  width: 15px;
  height: 15px;
}
.navbar-brand{
  font-size: 15px;
}
.judul-artikel{
  min-height: 55px;
}
.kuliah{
  text-decoration: none;
  color: #111111;
}
a:focus{
  text-decoration: none;
}
a:visited{
  text-decoration: none;;
}
.t{
  list-style: none;
}
a:hover{
  text-decoration: none;;
}
.news-item{
  position: relative;
  min-height:112px;
  background-color:#efefef;
  padding: 10px;
}
.muted{
  color: #efefef;
}
.ratings{
  margin-top: 20px;
}
.hariini{
  color:#56c6ef;
}
